<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibration</title>
    <style>
        table{
            margin: auto;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align:center;">摄像头标定</h1>
    </div>
    <div>
        <table>
            <tr>
                <td><img src="{{url_for('calibration_on')}}" alt="calibration_on" width="100%"/></td>
            </tr>
        </table>
    </div>
</body>
</html>