<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot web camera</title>
    <style>
        table{
            margin: auto;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <tr>
                <td><h1>Robot Web Camera</h1></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td><img src="static/robot.jpg" alt="Robot"></td>
            </tr>
        </table>
    </div>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <input type="submit" name="home button" value="打开摄像头" style="width: 200px;height: 30px;"/>
                        <input type="submit" name="home button" value="打开摄像头(去畸变)" style="width: 200px;height: 30px;"/>
                        <input type="submit" name="home button" value="设置分辨率" style="width: 200px;height: 30px;"/>
                        <input type="submit" name="home button" value="摄像头标定" style="width: 200px;height: 30px;"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>